.main-title {
  @include font(36px, 60px);
  text-align: left;
  font-weight: normal;
  color: $black-one;

  margin: 0;
}

@media (min-width: $tablet) {
  .main-title {
    @include font(60px, 60px);
  }
}
