.main-catalog {
  padding-top: 30px;
  margin-bottom: 25px;
}

.main-catalog__list {
  @include zeroing();

  list-style: none;


  outline: 3px dotted rgb(189, 14, 151);
}

.main-catalog__plus-upper {
  @include font(16px, 20px);
  text-transform: uppercase;

  margin: 0;
}

.main-catalog__plus-normal {
  font-family: $arial;
  @include font(12px, 16px);
  color: $greyish;
}
