.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f2f2f2;

  outline: 4px solid rgb(255, 255, 0);
}

.page-footer__logo {
  display: block;
  padding-top: 38px;
  margin-bottom: 30px;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;

  width: 135px;

  @include zeroing();
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;

  width: 280px;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-footer__copyright {
    width: 162px;
  }
}
