.page-footer {
  background-color: #f2f2f2;

  outline: 4px solid rgb(255, 255, 0);
}

.page-footer__logo {
  display: block;
  padding-top: 38px;
  margin-bottom: 30px;
}

.page-footer__social {
  @include zeroing();
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.page-footer__copyright {
  margin: 0;
  margin-bottom: 20px;
}
