.programs-wrapper {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 180px;

  background-color: #68b738;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (min-width: $tablet) {
  .programs-wrapper {
    padding: 0;

    background-color: transparent;
    background-image: none;
  }
}
