.programs-wrapper {
  background-color: #68b738;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  padding-top: 25px;
}
