.programs {
  color: #ffffff;
  text-align: center;

  min-height: 250px;

  outline: 2px dashed rgb(20, 221, 221);
}

.programs__title {
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.programs__slogan {
  @include font(14px, 14px);
  text-transform: uppercase;

  margin: 0;
}

@media (min-width: $tablet) {
  .programs {
    color: $black-one;
    text-align: left;

    min-height: 700px;
    padding-left: 90px;
  }

  .programs__title {
    @include font(60px, 60px);

    color: $black-one;
    text-align: left;

    width: 427px;
  }

  .programs__slogan {
    @include font(20px, 20px);
  }
}

@media (min-width: $desktop) {
  .prorgams {
    padding-left: 80px;
  }
}
